:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: 'Noto Sans' , sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}

.grid__column-2 {
    width: 16.6667%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.grid__column-3 {
    width: 25%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.grid__column-4 {
    width: 33.3333%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.grid__column-2-2 {
    width: 20%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-top: 1rem;
}

.grid__column-8 {
    width: 66.6667%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.grid__column-10 {
    width: 83.3333%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}



/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .hide-on-mobile {
        display: none;
    }

    .ss-grid__full-width {
        width: 100%;
    }

    .ss-grid__column-4 {
        width: calc(100% /3);
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .ss-grid__column-6 {
        width: 50%;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .header {
        position: fixed;
        z-index: 1;
    }

    .navbar {
        display: none;
    }

    .navsearch__logo {
        padding: 0 15px;
        margin-top: -5px;
    }


    .sortbar {
        position: relative; 
        top: 6rem;
    }
    
    .sortbar__option {
        justify-content: space-around;
    }

    .sortbar__option--item {
        margin: 0;
    }

    .product {
        position: relative;
        top: 6.5rem;
    }

    .footer__national {
        flex-direction: column;
    }

    .company__policy {
        display: contents;
    }

    .company__policy--item {
        margin-bottom: 5px;
    }

    .company__policy--item + .company__policy--item {
        border: none;
    }
}

@media (min-width: 769px) and (max-width: 940px) {

    .hide-on-tablet {
        display: none;
    }

    .grid {
        width: 100vw;
    }

    .s-grid__full-width {
        width: 100%;
    }

    .s-grid__column-3 {
        width: 25%;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .s-grid__column-9 {
        width: 75%;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .navsearch__logo {
        padding: 0 15px;
        margin-top: -5px;
    }

    .sidepage-filter {
        display: flex;
        flex-wrap: nowrap;
    }

    .seller-info {
        display: flex;
        align-items: center;
    }

    .seller-infor__details {
        display: none;
    }

    .shop-category {
        padding: 0;
    }

    .shop-category--main {
        margin-left: 20px;
    }

    .shop-category--title {
        
        cursor: pointer;
    }

    .shop-category--list {
        display: inline-block;
        padding: 0;
        border-top: 1px solid rgba(0,0,0,.09);
    }

    .shop-category--item {
        margin: 0 15px 0;
        border-top: 0;
        display: inline-block;
    }
    
    .sortbar {
        margin-top: 20px;
    }

    .footer__national {
        flex-direction: column;
        justify-content: center;
    }

    .copyright {
        margin: 0 auto 10px;
        justify-content: center;
    }

    .company__policy--item {
        padding: 0 5px;
    }
}

@media (min-width: 940px) and (max-width: 1025px) {
    .m-grid__column-2 {
        width: 20%;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .m-grid__column-2-4 {
        width: 25%;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .m-grid__column-8 {
        width: 80%;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

